<!DOCTYPE html>
<html>
<head>
  <title>Nick Breaton</title>
  <% if (!host) { %>
    <link rel="stylesheet" href="<%= host %>/assets/bundle.css" />
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id="app">
    <div>
      <%- app %>
    </div>
  </div>
  <script type="text/javascript" src="<%= host %>/assets/bundle.js"></script>
</body>
