<!DOCTYPE html>
<html>
<head>
  <title>Nick Breaton</title>
  <link rel="stylesheet" href="<%= host %>/assets/bundle.css" />
</head>
<body>
  <div id="app">
    <div>
      <%- app %>
    </div>
  </div>
  <script type="text/javascript" src="<%= host %>/assets/bundle.js"></script>
</body>
