<!DOCTYPE html>
<html>
<head>
  <title>Nick Breaton</title>
</head>
<body>
  <div id="app"></div>
  <% if (development) { %>
    <script type="text/javascript" src="http://localhost:8080/assets/bundle.js"></script>
  <% } %>
</body>
