<div class="about">
  <ng-include src="template('welcome')"></ng-include>

  <div class="about-intro">
    <div class="center">
      <h1>More content coming soon...</h1>
    </div>
  </div>

  <div class="map-frame" ng-controller="MapController">
    <div id="map-canvas">
      <!-- google map loaded here -->
    </div>
    <div class="cover">
      <div class="pin" ng-class="{ active : pinActive }">
        <ng-include src="'/static/icons/pushpin-bottom.svg'" class="bottom"></ng-include>
        <ng-include src="'/static/icons/pushpin-top.svg'" class="top"></ng-include>
      </div>
    </div>
  </div>

  <div class="about-intro">
    <div class="center">
    </div>
  </div>
</div>
