<div class="about">
  <ng-include src="template('welcome')"></ng-include>

  <div class="about-intro">
    <div class="center">
      <div class="definition">
        <a class="word">Nick Breaton (noun):</a>
        A hardworking, willing to learn, team member who is deticated to the success of the project.
      </div>
    </div>
    <div class="education">
      <div class="cover-image"></div>
      <div class="cover-color"></div>
      <div class="center">
        <h3 class="title">
          <a class="split">First off,</a> I am a student at UNC Charlotte
        </h3>
        <div class="body">
          {{ lorem }}
        </div>
      </div>
    </div>

    <div class="white">
      <div class="center">
        <h3 class="title">The other half of my life: <a class="split"> Programming</a></h3>
        <div class="body">{{ lorem }}</div>
      </div>
    </div>

    <div class="color">
      <div class="center">
        <h3 class="title">I am local to the RTP area</h3>
        <div class="body">{{ lorem }}</div>
      </div>
    </div>
  </div>


  <div class="map-frame" id="map-frame" ng-controller="MapController">
    <div id="map-canvas">
      <!-- google map loaded here -->
    </div>
    <div class="cover">
      <div class="pin" id="map-pin" ng-class="{ active : pinActive }">
        <ng-include src="'/static/icons/location-full.svg'"></ng-include>
      </div>
    </div>
  </div>

  <div class="about-intro">
    <div class="color">
      <div class="center">
        <h3 class="title">I would love to have a summer intership</h3>
        <div class="body">{{ lorem }}</div>
      </div>
    </div>
  </div>
</div>
