<div ng-controller="HeaderController">
  <!-- creates spot to start static/relative elements at -->
  <div class="header placeholder">
    <div class="center">
      <a class="button" style="opacity:0;">&nbsp</a>
    </div>
  </div>

  <div class="header menu">
    <div class="center">
      <a class="button">
        <ng-include src="'/static/icons/menu.svg'"></ng-include>
      </a>
    </div>

    <!-- drop down menu for mobile -->
    <div class="drop-down" ng-class="{ active : dropActive }">
        <a class="choice" ng-repeat="choice in pageButtons" href="{{choice.link}}" ng-click="toggleDrop()" ng-class="{ active : choice.active }">
          <div class="center text">
            {{ choice.name }}
          </div>
        </a>
    </div>
  </div>

  <!-- actual header (stuck at top) -->
  <div class="header">
    <div class="center">
      <a class="button page" ng-repeat="button in pageButtons" href="{{ button.link }}" ng-class="{ active : button.active }">
        {{ button.name }}
      </a>
      <span class="button menu" ng-click="toggleDrop()" ng-class="{active : dropActive}">
        <ng-include src="'/static/icons/menu.svg'" ></ng-include>
      </span>
    </div>
  </div>
</div>
