<div class="welcome">
  <div class="text">
    <div class="title">
      Hi, I'm Nick Breaton.
    </div>
    <div class="subtitle">
      This is how I spend my time.
    </div>
    <!-- <a href="#" class="arrow">
      \/
    </a> -->
  </div>
  <div class="clock" ng-controller="ClockController">
    <!-- intervals -->
    <div ng-repeat="interval in intervals" class="interval" ng-style="{ transform : interval.transform }">
      <div ng-class="interval.type"></div>
    </div>

    <!-- hands -->
    <div class="base-pin"></div>
    <div ng-repeat="hand in hands" class="hand-holder" ng-style="{ transform : hand.transform }">
      <div ng-class="hand.type"></div>
    </div>
    <div class="second-pin"></div>
  </div>
</div>
