.about {
  .about-intro {
    width:100%;
    z-index:1;
    box-shadow:$main-shadow;
    position:relative;

    .definition {
      font-size:25px;
      margin: 75px 0px;
      font-family:$body-font;
      padding:10px;
      line-height:30px;

      .word {
        @media (max-width: $break-width) {
          display:block;
        }
        font-weight:bold;
      }
    }
  }

  .map-frame {
    $height: 450px;

    width: 100%;
    height:$height;
    background:green;
    overflow:hidden;
    position:relative;
    background:$color-main-light;

    #map-canvas {
      $offset: 250px;
      position:absolute;
      top: -($offset / 2);
      height: $height + $offset;
      width:100%;
    }

    .cover {
      top:0;
      bottom:0;
      right:0;
      left:0;
      position:absolute;

      $size: 55px;

      .pin {
        position:relative;
        margin:auto;
        width:0;
        height:0;
        margin-top:($height / 2) - 25px;
        transition:none;

        svg {
          width:100%;
          height:100%;
          position:absolute;
        }

        path {
          fill:red;
        }
      }

      .pin.active {
        transition:.33s linear;
        width:$size;
        height:$size;
        margin-top:($height / 2) - $size - 25px;
      }
    }
  }
}
