.about {
  .about-intro {
    width:100%;
    z-index:1;
    height:300px;
    box-shadow:$main-shadow;
    position:relative;
  }


  .map-frame {
    $height: 450px;

    width: 100%;
    height:$height;
    background:green;
    overflow:hidden;
    position:relative;
    background:$color-main-light;

    .cover {
      top:0;
      bottom:0;
      right:0;
      left:0;
      position:absolute;
    }

    #map-canvas {
      $offset: 250px;
      position:absolute;
      top: -($offset / 2);
      height: $height + $offset;
      width:100%;
    }

    .pin {

    }
  }
}
