.about {
  .about-intro {
    width:100%;
    height:500px;
    z-index:1;
    box-shadow:$main-shadow;
    position:relative;
  }

  .map-frame {
    width: 100vw;
    height: 20vw;
    min-height:400px;
    background:green;
    overflow:hidden;
    position:relative;
    background:$color-main-light;

    .cover {
      top:0;
      bottom:0;
      right:0;
      left:0;
      position:absolute;
    }
  }
}
