.contact {
  // get rid of arrows on number input
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type=number] {
      -moz-appearance:textfield;
  }

  .title {
    font-family:$title-font;
    font-size:45px;
    color:$color-main-dark;
    display:block;
    text-align:center;
    margin:25px 0;
  }

  .bar {
    width:100%;
    text-align:center;
    color:$color-main;
    font-size:27.5px;
    font-family:$title-font;
    margin-top:40px;
    margin-bottom:50px;

    .link {
      text-decoration:none;
      color:inherit;
      display:inline-block;
    }

    .link:hover {
      opacity:.5;
    }

    @media (max-width: 700px) {
      .bullet {
        visibility:hidden;
      }

      .link {
        display:block;
        margin-top:-20px;
      }
    }
  }

  .thankyou {
    @extend .bar;
    color:black;
    font-family:$body-font;
    font-size:40px;



    @media (max-width: $header-break) {
      font-size:30px;
    }
  }

  .web {
    width:100%;
    margin-top:10px;

    .input {
      padding:10px;
      font-size:$body-size;
      font-family:$body-font;
      margin-bottom:10px;
      outline:0;
      border:none;
      border-width:3px;
      border-style:solid;
      border-color:rgb(210,210,210);

      @media (min-width: $header-break) {
        margin: 10px 0;
      }

      @media (max-width: $break-width) {
        font-size:$body-size * .9;
      }
    }

    .error {
      border-color:red;
    }

    .input:focus {
      border-color:$color-main;
    }

    .row {
      @extend .input;

    }

    .row1 {
      @extend .row;
      width:49.5%;

      @media (max-width: $header-break) {
        width:100%;
      }
    }

    .name {
      @extend .row1;
    }

    .email {
      @extend .row1;
      float:right;
    }

    .subject {
      @extend .row;

      width:74.5%;
    }

    .filter {
      @extend .row;

      width:24.5%;
      margin-left:1%;
    }

    .body-container {
      @extend .input;
      width:100%;
      background:white;
      padding:0;
      padding-bottom:50px;
    }

    .body {
      @extend .input;
      $width: 100%;
      $height: 150px;

      margin:0;
      border:none;

      width:$width;

      background:none;
      min-height:$height;
      display:block;
      line-height:$body-size * 1.15;
      resize: none;

      overflow:hidden;
    }

    .active {
      @extend .input:focus;
    }

    .send {
      display:block;

      $size: 90px;
      width:$size;
      height:$size;

      margin:auto;
      margin-top:-($size / 2);

      border:none;
      border-radius:100vw;
      outline:0;
      background-color:$color-main-dark;
      cursor:pointer;
      color:white;
      font-size:$body-size * .9;
      font-family:$title-font;
      border-width:3px;
      border-style:solid;
      border-color:$color-main-dark;
    }

    .send:active {
      background:$color-main;
    }
  }
}
