.resume {
  background:rgba(0,0,0,.25);

  .page {
    width:8.5in;
    height:11in;
    background:white;
    margin:.25in auto;
    box-shadow:0 0 5px 2px gray;

    @media print {
      box-shadow:none;
      margin-top:0;
      margin-bottom:0;
    }
  }

  .main-title {
    font-family:$title-font;
    font-size:.45in;
    width:100%;
    text-align:center;
    margin-top:.25in;
    display:inline-block;
    color:#2980b9;


    .sub {
      color:black;
      font-size:.23in;
      font-family:$body-font;
      margin-top:.025in;
    }
  }

  .body {
    width:92.5%;
    margin: auto;
    padding:.36in;
    border-radius:.25in;
    background:white;
  }

  .section {
    font-family:$title-font;

    ul {
      margin-left:.16in;
    }


    .title {
      display:inline-block;
      font-size:.3in;
      color:#2980b9;
      width:100%;
    }

    .item {
      margin-top:.1333in;
      display:inline-block;
      font-size:.2in;

      .subtitle {
        width:2.3in;
        vertical-align: top;


        // date
        p {
          color:rgba(0,0,0,.35);
          font-size:.175in;
        }
      }


      .text {
        vertical-align: top;
        font-family:$body-font;
        line-height:.25in;
        padding-left:.2in;
        padding-bottom:.2in;

        .indent li {
          margin-left:.2in;
        }
      }
    }
  }
}
