.welcome {
  $height: 25vw;
  $min-height:10vh;
  $max-height:40vh;

  width: 100%;
  min-height: $min-height;
  max-height: $max-height;
  height:$height;
  background:$color-main;
  position:relative;
  overflow: hidden;

  .text {
    @extend .center;
    font-family:$title-font;

    $sub-color:rgba(0,0,0,.25);

    .title {
      margin-top:5vh;
      color:white;
      font-size:4.5vw;
    }

    .subtitle {
      color:$sub-color;
      font-size:3vw;
    }

    .arrow {
      margin-left:50%;
      font-size:3vw;
      display:inline-block;
      text-align:center;
      text-decoration:none;
      margin-top:5vh;
      color:$sub-color;
    }
  }

  .clock {
    $overscale: 1.2;
    $size: $height * $overscale;
    $min-size: $min-height * $overscale;
    $max-size: $max-height * $overscale;

    border: .6vw solid;
    position:absolute;
    border-radius:100vw;
    width:$size ;
    height:$size;
    min-height:$min-size;
    min-width:$min-size;
    max-height:$max-size;
    max-width:$max-size;

    top:-10%;
    right:2vw;
    overflow:hidden;

    background:white;
    box-shadow: 0 0 1vw .2vw rgb(175,175,175) inset;
    border-color:rgb(220,220,220);

    @mixin sleve($sleve-width) {
      position:absolute;
      width:$sleve-width;
      height:100%;
      left:50 - ($sleve-width / 2);
    }

    .interval {
      @include sleve(.4%);

      .tick {
        background-color:rgb(200,200,200);
        position:absolute;
        right:0;
        left:0;
        top:2%;
      }

      .normal {
        @extend .tick;
        bottom:95%;
      }

      .medium {
        @extend .tick;
        bottom:93%;
      }

      .large {
        @extend .tick;
        bottom: 91%;
      }
    }

    .hand-holder {
      @include sleve(2%);

      @mixin hand ($width) {

        position:absolute;
        right:50% - ($width / 2);
        left:50% - ($width / 2);
      }

      $second-bottom: 45%;
      $other-bottom: 40%;

      .second {
        @include hand(33%);
        background:red;
        top:9%;
        bottom:$second-bottom - 2%;
      }

      .second-base {
        @extend .second;
        @include hand(100%);
        top:100% - $second-bottom;
        height:10%;
      }

      .minute {
        @include hand(100%);
        background:black;
        top:5%;
        bottom:$other-bottom;
      }

      .hour {
        @include hand(100%);
        background:black;
        top:17%;
        bottom:$other-bottom;
      }
    }

    @mixin pin ($circum) {
      width:$circum;
      height:$circum;
      border-radius:100vw;
      position:absolute;
      top: 50% - ($circum / 2);
      left: 50% - ($circum / 2);
    }

    .base-pin {
      @include pin(5%);
      background-color:black;
    }

    .second-pin {
      @include pin(3%);
      background-color:red;
    }

  }
}
