// font defintions
@font-face {
  font-family:"Exo";
  src:url('/static/fonts/exo.otf');
}

@font-face {
  font-family:"ColabThi";
  src:url('/static/fonts/ColabThi.otf');
}


// site variables

$color-main: #7c9b8b;
$color-main-dark: #5d7468;
$color-main-light: #E8E7E1;
$title-font: "Exo", Arial;
$body-font: "ColabThi", Arial;
$body-size: 25px;
$break-width: 950px;
$main-shadow: 0 0 5px 2px rgba(55,55,55, .7);


// main site

* {
  padding:0px;
  margin:0px;
  box-sizing:border-box;

  body {
    background-color:$color-main-light;
  }
}

::selection {
  background: rgba(93,116,104,.9);
  color: white;
}


.center {
  width:$break-width;
  margin:auto;
  padding:10px;
  position:relative;

  @media (max-width:$break-width) {
    width:100%;
  }
}


// collect all style sheets

@import 'header';
@import 'welcome';
@import 'about';
@import 'blog';
@import 'contact';
@import 'incompatible';
