// font defintions
@font-face {
  font-family:"Exo";
  src:url('/static/img/fonts/exo.otf');
}


// main site

* {
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

.center {
  width:950px;
  margin:auto;
  padding:10px;
  position:relative;
}


// site variables

$color-main: #7c9b8b;
$color-main-dark: #5d7468;
$title-font: "Exo", Arial;

// collect all style sheets

@import 'header';
@import 'welcome';
